@use "../../style/utils/variables" as *;

.inputWrapper {

    position: relative;
    width: 100%;
    gap: 6px;
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 10px;
}

.togglePassword {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: $neutral-500;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.input {
    padding-left: 40px;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1.5px solid $neutral-200;
    background-color: $white;
    width: 400px;
    height: 46px;
    flex: 1;
}
.inputError{
    border-color: #D12E34;

}
.search {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    color: $neutral-500;
    
}
