@use "../../style/utils/variables" as *; 

.input-wrapper{

    position: relative;
    width: 100%;
}
.toggle-password{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: $neutral-500;
}
.input-wrapper input{
    padding-right: 40px;

}