@use "../../style/utils/variables" as *;


.card {
  width: 410px;
  height: 430px;
  min-width: 0;
  background-color: $beige;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img {
  width: 380px;
  height: 230px;
  border-radius: 10px;
  object-fit: cover;
}

.favorite {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 65px;
}

.favoriteText {
  font-size: 22px;
  font-weight: bold;
  flex: 1;
  min-width: 0;
  max-width: calc(100% - 40px);
  margin: 0;
  padding-top: 10px;
}

.favoriteIcon {
  width: 28px;
  height: 26px;
  color: red;
  fill: red;
  flex-shrink: 0;
  margin-top: 8px;
  justify-content: center;
}

.route {
  display: flex;
  gap: 5px;
}

.route p {
  font-size: 18px;
  font-weight: 300;
}

.mapPin {
  width: 27px;
  height: 27px;
  color: red;
}

.infos {
  display: flex;
  gap: 40px;
  padding-top: 11px;
  align-items: center;

}

.status {
  background-color: rgba(78, 224, 117, 0.3);
  border-radius: 10px;
  width: 122px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status p {
  color: #034214;
  font-size: 15px;
  font-weight: 500;
}

.rating {
  display: flex;
  background-color: rgba(212, 212, 32, 0.3);
  border-radius: 10px;
  width: 80px;
  height: 38px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.rating p {
  color: #bcbc00;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 5px;
}

.ratingStar {
  color: #f9f949;
  width: 24px;
  height: 24px;
}

.type {
  display: flex;
  background-color: rgba(78, 175, 224, 0.3);
  border-radius: 10px;
  width: 90px;
  height: 38px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.type p {
  color: #0739ff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.infos {
  display: flex;
  gap: 20px;
  padding-top: 11px;
  align-items: center;
}

.type p {
  color: #0739ff;
  font-size: 18px;
  font-weight: 500;
}