// Colors

$navy: #2f4156;
$black:#000;
$white: #FFF;
$teal: #567C8D;
$beige: #f5efeb;
$sky-blue: #C8D9E6;
$neutral-600: #475569;
$neutral-500: #64748b;
$neutral-400: #94a3b8;
$neutral-200: #E2E8F0;
$neutral-100: #F1F5F9;

// Gradient
$default-bg: linear-gradient( #C8D9E6 100% opacity 1, #C8D9E6 75% opacity 0.75,#C8D9E6 50% opacity 0.5,#C8D9E6 0% opacity 0)


