@use "../../style/utils/variables" as *;

.form{
    width: 584px;
    height: 754px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    background-color: $sky-blue; 
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.text{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: $neutral-600;
    width: 300px;
    
}

