@use "../../style/utils/variables" as *;

.registerContainer{
    display: flex;
    min-height: 100vh;
    
}
.leftSection{

  position: relative;
  overflow: hidden;
  flex: 1.4;
}

.leftSection img{
    
    object-fit: cover;
    width: 100%;
    height: 100% ;
}

.rightSection{
    flex: 1;
}

.rightSection h1{

    color: blue;
}